.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  color: rgb(0, 154, 255);
}

h2 {
  color: rgb(0, 154, 255);
}
p {
  color: rgb(0, 154, 255);
}
h2 {
  text-align: left;
}
p {
  text-align: left;
}
hr {
  color: rgb(0, 154, 255);
}

body {
  background-color: lightgrey;
}
 {
  text-align: left;
}
h4 {
  color: rgb(0, 154, 255);
}